* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --pink-800: #d6336c;
  --pink-900: #c2255c;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  background: linear-gradient(#222c31, #111d32);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn-danger {
  background-color: var(--pink-800) !important;
}
