* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #343a40;
  --light: #f8f9fa;
  --primary-bold: #065940;
  --primary: #087f5b;
  --tint: #0ca678;
  --secondary: #37b24d;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: var(--light);
}

.container {
  width: 80rem;
  margin: 4.8rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__img {
  width: 20rem;
  margin-bottom: 2.4rem;
}

.hero__text {
  font-size: 3.6rem;
}

.investment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-input {
  width: 100%;
  margin: 4.8rem auto;
  border-radius: 9px;
  background: linear-gradient(to bottom, var(--tint), var(--secondary));
}

.user-input .user-input-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 3.6rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group input {
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  height: 3rem;
  background-color: inherit;
  box-shadow: inset 0 0 0 1px var(--light);
  padding-left: 5px;
  color: var(--light);
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

.btn {
  border: none;
  padding: 1.4rem 2.8rem;
  border-radius: 9px;
}

.btn-reset {
  background-color: inherit;
  color: var(--light);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-reset:hover {
  box-shadow: inset 0 0 0 1px var(--light);
}

.btn-calculate {
  background: var(--primary);
  color: var(--light);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-calculate:hover {
  background: var(--primary-bold);
}

.result table {
  overflow-x: scroll;
}

.result th {
  color: var(--tint);
}

.result td {
  color: var(--light);
}

.result th,
.result td {
  padding: 1.6rem 2.4rem;
  text-align: right;
  font-size: 1.6rem;
}

@media (max-width: 36em) {
  html {
    font-size: 50%;
  }
  .user-input {
    width: 80%;
  }
  .user-input .user-input-group {
    grid-template-columns: 1fr;
  }
}
