* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: var(--bs-dark);
}

.btn-danger {
  background-color: #651515 !important;
}

.hero {
  height: 30vh;
  background: url(../img/pizza.jpg) center center no-repeat;
  background-size: cover;
  z-index: -999;
}

.hero-text {
  background-color: #343a40;
  color: var(--bs-light);
  transform: translateY(-50%);
}
